<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="all" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" media="all" href="assets/css/todc-bootstrap.min.css" />
    <link rel="stylesheet" media="all" href="node_modules/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" media="all" href="assets/css/style.css" />

    <script type="text/javascript" src="node_modules/angular/angular.js"></script>

    <script type="text/javascript" src="node_modules/ace-builds/src-noconflict/ace.js"></script>
    <script type="text/javascript" src="node_modules/ace-builds/src-noconflict/worker-json.js"></script>
    <script type="text/javascript" src="node_modules/ace-builds/src-noconflict/mode-json.js"></script>
    <script type="text/javascript" src="assets/js/lib/ui-ace.js"></script>
    <script type="text/javascript" src="node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>

    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/app/gcm-service.js"></script>
    <script type="text/javascript" src="assets/js/app/apns-service.js"></script>
  </head>
  <body ng-app="app" ng-controller="AppCtrl">
    <div class="container" id="content" style="margin-top: 20px">
        <div class="col-xs-3 col-md-2 sidebar">
            <h3 class="text-muted">Projects</h3>
            <ul>
                <li>
                    Unknown
                </li>
            </ul>
        </div>
        <div class="col-xs-9 col-md-10">
          <form class="form-horizontal" name="notifForm" ng-submit="push()">

            <div class="form-group">
              <label class="col-xs-2">Adapter</label>
              <div class="col-xs-9">
                <label>
                    <input type="radio"
                        name="provider"
                        value="gcm"
                        ng-model="provider"/>
                    <img src="assets/image/android.png"> GCM
                </label>
                <span class="vertical-seperator"></span>
                <label>
                    <input type="radio"
                        name="provider"
                        value="apns"
                        ng-model="provider"/>
                    <img src="assets/image/ios.png"> APNS
                </label>
              </div>
            </div>

            <div ng-if="provider == 'gcm'">
              <div class="form-group">
                <label class="col-xs-2">API Key</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control"
                      ng-model="gcmProfile.apiKey"
                      ng-required="true"
                      >
                </div>
              </div>
            </div>

            <div ng-if="provider == 'apns'">
              <div class="form-group">
                  <label class="col-xs-2">Cert(PFX/PKCS12)</label>
                  <div class="col-xs-9">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="apnsProfile.certPath">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button" ng-click="openSelectCertFileDialog()">Select file</button>
                        </span>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                    <label class="col-xs-2">Environment</label>
                    <div class="col-xs-9">
                      <label>
                        <input type="radio"
                          ng-model="apnsProfile.env"
                          value="development"> Development
                      </label>
                      <label>
                        <input type="radio"
                          ng-model="apnsProfile.env"
                          value="production"> Production
                      </label>
                    </div>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label class="col-xs-2">Device tokens</label>

              <div class="col-xs-10">
                <div class="row" ng-repeat="dt in notif.deviceTokens">
                  <div class="col-xs-10">
                      <input type="text"
                          class="form-control"
                          ng-model="dt">
                  </div>
                  <div class="col-xs-1">
                    <button class="btn btn-xs btn-danger" type="button">X</button>
                  </div>
                  <div class="space-10"></div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2">Message</label>
              <div class="col-xs-9">
                <input type="text"
                    class="form-control"
                    ng-model="notif.message"
                    ng-required="true">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2">Data</label>
              <div class="col-xs-9">
                <div ui-ace="aceDataConfig" ng-model="notif.data"></div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-9 col-xs-offset-2">
                <button class="btn btn-primary btn-block btn-push" type="submit" ng-disabled="isBusy || notifForm.$invalid">Push (Cmd + Enter)</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </body>
</html>