body {
  height: 100%;
  font-family: 'Lucida Grande', Arial, sans-serif;
}
#content {
  height: 100vh;
  padding: 10px;
}
#content > div {
  height: 100%;
}
.sidebar {
  border-right: 2px solid #eee;
  height: 100%;
}
.vertical-seperator {
  border: 1px solid #eee;
  margin: 0 20px;
}
.ace_editor {
  height: 120px;
  border: 1px solid #d9d9d9;
}
.space-10 {
  clear: both;
  height: 10px;
}
.response-editor {
  height: 100px;
}